* {
	font-family: 'Ubuntu', sans-serif;
}
body {
    max-height:100%;
    height: 100%;
    background-color:#CF4141;
}
html {
    max-height:100%;
    height:100%;
}
#fixed-top-bar {
	background-color:#FFFFFF;
}
#splash-screen {
	overflow: hidden;
	overflow-y: hidden;
	overflow-x: hidden;
}
/* .bgR {
    background-color:#CF4141;
} */
.bgG {
    background-color: #434343;
}

/* Specific classes */
.logo_cf {
   position: absolute;
   top: 50%;
   left: 50%;
   height:42vmin;
   width:60vmin;
   margin-top: -21vmin; /* Half the height */
   margin-left: -30vmin; /* Half the width */
}

.splash-transition1 {
	top:100%;
}

.menubtn {
	border:0;
}
.menubtn:active {
	background-color:white;
}

.blank-space-1 {
    background-color: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 3px;
    margin-bottom: 4px;
}

#menu {
    color:white;
    font-size: 6vw;
    height:100%;
}
.menu1 td {
    border-top:0;
    border-bottom: 0;
    padding-top: 3vw;
    padding-bottom: 3vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
}


/* General, non-specific classes */
.font-white {
	color:white;
}
.font-dgrey {
	color:#181818;
}
.font-red {
	color:#CF4141;
}
.hidden {
	display:none;
}
.z-49 {
	z-index: 49;
}
.z-50 {
	z-index: 50;
}
.w-98 {
    width: 98%;
}
.p-fixed {
	position:fixed;
}
.p-absolute {
	position:absolute;
}
.pointer {
    cursor: pointer;
}
.card {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow:  0px 2px 10px 1px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.4);
    transition:0.2s;
}
.card:hover {
    box-shadow:  0px 4px 10px 3px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 4px 10px 3px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 4px 10px 3px rgba(0,0,0,0.6);
}
.text-decor-none {
    color: inherit;
    text-decoration: none;
}
.text-decor-none:hover {
    color: inherit;
    text-decoration: none;
}

/* This is the menu button, animated */
.container {
    display: inline-block;
    cursor: pointer;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}
/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}
/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}
/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}