<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <!-- Ubuntu font -->
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <!-- main CSS -->
  <link rel="stylesheet" type="text/css" href="css/urbseye.css">
  <!-- main JQ&JS -->
  <script src="js/urbs.js"></script>
  <title>Contrafluxo</title>
  
  <div id="splash-screen" class="page bgR hidden">
  	<img src="assets/logo_main.png" class="logo_cf z-49 p-fixed" id="logo-splash">	
  	<img src="assets/transitions/splash.png" class="w-100 z-50 p-absolute splash-transition1" id="seta-splash">
  </div>

  <div id="fixed-top-bar" class="shadow pb-3 pt-3">
  <!-- This is the menu button, animated -->
  <div class="col-2 ml-1 pointer" onclick="myFunction(this)">
  	<div class="bar1"></div>
  	<div class="bar2"></div>
  	<div class="bar3"></div>
  </div>
	<!-- -->
  </div>

<div id="noticias" class="page hidden bgR" onload="json_cards()">
  <span class="blank-space-1">&nbsp;</span>
  <!-- Cards aqui -->
  </div>
</div>

  <div id="menu" class="page bgG hidden">
      <span class="blank-space-1"></span>
    <div class="table menu1 text-center">
      <table class="mx-auto">
        <tr><td>Home</td></tr>
        <tr><td>Rotas</td></tr>
        <tr><td>Episódios</td></tr>
        <tr><td>Sobre</td></tr>
        <tr><td>Configurações</td></tr>
      </table>
        </div>
</div>

<div id="episodios" class="page bgR">
  <a href="#s01e01">
  <div class="container-fluid">
    <img src="" alt="" class="img-fluid">
  </a>

  </div>

</div>



  <div id="full" class="hidden">
  	<h3 class="font-white">asdf</h3>






  </div>
  </body>
</html>

<!-- template cards -->
    <!-- <a href="{{pointer}}" class="text-decor-none"><div class="card mx-auto mb-5 w-98" data-index="{{id}}">
      <img class="card-img-top" src="{{imgcard}}" alt="Card image cap">
    <div class="card-body">
      <p class="card-text text-center font-weight-bold">{{titulo}}</p>
    </div></a> -->